In [221]:
import pandas as pd
import numpy as np
import hvplot.pandas
import sqlalchemy as sql
from sqlalchemy import create_engine
import psycopg2

In [15]:
conn = psycopg2.connect(host='localhost', dbname='tradevance_db', user='postgres', password="7-Fr3sa.12", port=5432)
cur = conn.cursor()

equity_data = []
sql = """SELECT * FROM equity;"""

cur.execute(sql)

for row in cur.fetchall():
    print(row)
    equity_data.append(row)

conn.commit()

cur.close()
conn.close()
equity_data

(1, 'AMD', '$83.54', '$85.48', '$81.02', '$81.62', datetime.datetime(2023, 5, 4, 20, 15, 57, 949056))
(2, 'AMD', '$83.54', '$85.48', '$81.02', '$81.62', datetime.datetime(2023, 5, 4, 20, 16, 28, 901061))
(3, 'AMD', '$83.54', '$85.48', '$81.02', '$81.62', datetime.datetime(2023, 5, 4, 20, 16, 49, 279460))
(4, 'AMD', '$83.54', '$85.48', '$81.02', '$81.62', datetime.datetime(2023, 5, 4, 20, 17, 35, 522362))
(5, 'AMD', '$83.54', '$85.48', '$81.02', '$81.62', datetime.datetime(2023, 5, 4, 20, 22, 24, 679921))
(6, 'AMD', '$83.54', '$85.48', '$81.02', '$81.62', datetime.datetime(2023, 5, 4, 20, 23, 38, 929651))
(7, 'AVGO', '$616.90', '$621.95', '$612.52', '$613.20', datetime.datetime(2023, 5, 4, 20, 24, 35, 682486))
(8, 'CAT', '$215.64', '$219.17', '$215.13', '$215.64', datetime.datetime(2023, 5, 4, 20, 27, 30, 844859))
(9, 'BA', '$204.36', '$206.10', '$200.57', '$200.93', datetime.datetime(2023, 5, 4, 20, 27, 52, 945680))
(10, 'CSX', '$31.15', '$31.50', '$30.90', '$30.93', datetime.datetime(2023, 5, 4, 20, 28, 6, 602373))
(11, 'CRWD', '$116.46', '$119.03', '$115.67', '$117.68', datetime.datetime(2023, 5, 4, 20, 28, 21, 379161))
(12, 'CMCSA', '$41.36', '$41.53', '$40.81', '$40.89', datetime.datetime(2023, 5, 4, 20, 28, 33, 192343))
(13, 'XOM', '$109.08', '$109.81', '$107.76', '$107.93', datetime.datetime(2023, 5, 4, 20, 28, 46, 838633))
(14, 'DOCU', '$48.54', '$48.62', '$46.80', '$47.40', datetime.datetime(2023, 5, 4, 20, 29, 2, 532958))
(15, 'EBAY', '$45.24', '$45.77', '$44.61', '$44.77', datetime.datetime(2023, 5, 4, 20, 29, 20, 210038))
(16, 'FAST', '$54.67', '$55.24', '$54.00', '$54.08', datetime.datetime(2023, 5, 4, 20, 29, 34, 460717))
(17, 'GOOGL', '$105.53', '$107.49', '$104.96', '$105.41', datetime.datetime(2023, 5, 4, 20, 31, 37, 172001))
(18, 'adp', '$218.05', '$219.50', '$215.96', '$215.98', datetime.datetime(2023, 5, 4, 20, 32, 46, 295174))
(19, 'amgn', '$235.97', '$236.30', '$228.98', '$229.31', datetime.datetime(2023, 5, 4, 20, 33, 6, 868099))
(20, 'GILD', '$80.49', '$80.90', '$79.12', '$79.45', datetime.datetime(2023, 5, 4, 20, 40, 51, 353741))
(21, 'GILD', '$80.49', '$80.90', '$79.12', '$79.45', datetime.datetime(2023, 5, 4, 20, 40, 52, 223441))
(22, 'GILD', '$80.49', '$80.90', '$79.12', '$79.45', datetime.datetime(2023, 5, 4, 20, 44, 12, 503787))
(23, 'HON', '$199.72', '$200.58', '$197.71', '$197.93', datetime.datetime(2023, 5, 4, 20, 44, 35, 81816))
(24, 'NFLX', '$317.55', '$324.62', '$315.85', '$319.30', datetime.datetime(2023, 5, 4, 20, 44, 48, 494213))
(25, 'NVDA', '$278.40', '$283.67', '$274.72', '$278.02', datetime.datetime(2023, 5, 4, 20, 45, 0, 221809))
(26, 'NVDA', '$278.40', '$283.67', '$274.72', '$278.02', datetime.datetime(2023, 5, 4, 20, 49, 44, 536664))
(27, 'NVDA', '$278.40', '$283.67', '$274.72', '$278.02', datetime.datetime(2023, 5, 4, 20, 49, 55, 66709))
(28, 'okta', '$70.20', '$70.85', '$68.13', '$70.15', datetime.datetime(2023, 5, 4, 20, 50, 7, 934056))
(29, 'mvrl', '$16.87', '$17.31', '$16.70', '$16.71', datetime.datetime(2023, 5, 4, 20, 50, 18, 69141))
(30, 'panw', '$177.01', '$180.54', '$176.35', '$177.66', datetime.datetime(2023, 5, 4, 20, 50, 27, 547988))
(31, 'pypl', '$72.41', '$72.99', '$71.35', '$71.43', datetime.datetime(2023, 5, 4, 20, 50, 37, 680101))
(32, 'sbux', '$109.08', '$109.72', '$103.80', '$103.96', datetime.datetime(2023, 5, 4, 20, 50, 49, 162651))
(33, 'swks', '$105.66', '$107.81', '$105.06', '$105.19', datetime.datetime(2023, 5, 4, 20, 51, 1, 717283))
(34, 'meta', '$105.66', '$107.81', '$105.06', '$105.19', datetime.datetime(2023, 5, 4, 20, 51, 38, 725197))
(35, 'meta', '$306.24', '$307.76', '$303.40', '$305.41', datetime.datetime(2023, 5, 4, 21, 7, 8, 984536))
(36, 'meta', '$306.24', '$307.76', '$303.40', '$305.41', datetime.datetime(2023, 5, 4, 21, 8, 7, 161587))
(37, 'meta', '$306.24', '$307.76', '$303.40', '$305.41', datetime.datetime(2023, 5, 4, 21, 8, 44, 7926))
(38, 'meta', '$276.51', '$278.58', '$272.40', '$275.62', datetime.datetime(2023, 5, 4, 21, 9, 21, 723976))
(39, 'meta', '$77.42', '$77.50', '$76.75', '$77.29', datetime.datetime(2023, 5, 4, 21, 9, 36, 741441))
(40, 'meta', '$383.12', '$384.68', '$381.02', '$382.06', datetime.datetime(2023, 5, 4, 21, 9, 46, 688646))
(41, 'meta', '$133.93', '$138.22', '$129.75', '$134.33', datetime.datetime(2023, 5, 4, 21, 9, 58, 304122))
(42, 'meta', '$58.58', '$58.73', '$57.61', '$57.82', datetime.datetime(2023, 5, 4, 21, 10, 16, 787559))
(43, 'meta', '$58.58', '$58.73', '$57.61', '$57.82', datetime.datetime(2023, 5, 4, 21, 10, 56, 334016))
(44, 'meta', '$104.03', '$107.12', '$103.54', '$106.58', datetime.datetime(2023, 5, 4, 21, 11, 16, 44))
(45, 'meta', '$104.03', '$107.12', '$103.54', '$106.58', datetime.datetime(2023, 5, 4, 21, 11, 21, 638070))
(46, 'meta', '$193.08', '$193.95', '$192.15', '$193.38', datetime.datetime(2023, 5, 4, 21, 11, 35, 473791))
(47, 'meta', '$63.74', '$63.93', '$63.51', '$63.72', datetime.datetime(2023, 5, 4, 21, 11, 46, 577931))
(48, 'meta', '$63.74', '$63.93', '$63.51', '$63.72', datetime.datetime(2023, 5, 4, 21, 11, 51, 952197))
(49, 'meta', '$63.74', '$63.93', '$63.51', '$63.72', datetime.datetime(2023, 5, 4, 21, 11, 54, 958711))
(50, 'meta', '$63.74', '$63.93', '$63.51', '$63.72', datetime.datetime(2023, 5, 4, 21, 11, 58, 954571))
(51, 'meta', '$382.10', '$384.02', '$373.33', '$373.59', datetime.datetime(2023, 5, 4, 21, 12, 8, 314704))
(52, 'meta', '$382.10', '$384.02', '$373.33', '$373.59', datetime.datetime(2023, 5, 4, 21, 12, 11, 655839))
(53, 'meta', '$382.10', '$384.02', '$373.33', '$373.59', datetime.datetime(2023, 5, 4, 21, 12, 14, 685293))
(54, 'meta', '$453.66', '$454.04', '$446.21', '$451.93', datetime.datetime(2023, 5, 4, 21, 13, 15, 560123))
(55, 'meta', '$443.28', '$445.27', '$435.20', '$442.23', datetime.datetime(2023, 5, 4, 21, 13, 29, 453259))
(56, 'meta', '$443.28', '$445.27', '$435.20', '$442.23', datetime.datetime(2023, 5, 4, 21, 13, 33, 196417))
(57, 'meta', '$443.28', '$445.27', '$435.20', '$442.23', datetime.datetime(2023, 5, 4, 21, 13, 37, 245271))
(58, 'meta', '$137.48', '$140.95', '$136.59', '$140.48', datetime.datetime(2023, 5, 4, 21, 13, 52, 711287))
(59, 'meta', '$54.87', '$59.82', '$53.88', '$57.30', datetime.datetime(2023, 5, 4, 21, 15, 5, 97676))
(60, 'meta', '$488.94', '$490.91', '$485.93', '$490.34', datetime.datetime(2023, 5, 4, 21, 15, 26, 403903))
(61, 'meta', '$459.35', '$463.42', '$456.58', '$457.93', datetime.datetime(2023, 5, 4, 21, 15, 43, 423218))
(62, 'meta', '$116.50', '$117.87', '$116.03', '$117.42', datetime.datetime(2023, 5, 4, 21, 16, 9, 991595))
(63, 'meta', '$196.50', '$197.13', '$193.47', '$196.30', datetime.datetime(2023, 5, 4, 21, 16, 31, 363820))
(64, 'meta', '$30.43', '$31.72', '$30.38', '$31.24', datetime.datetime(2023, 5, 4, 21, 16, 47, 808366))
(65, 'meta', '$45.77', '$45.93', '$45.56', '$45.70', datetime.datetime(2023, 5, 4, 21, 17, 0, 941499))
(66, 'meta', '$111.45', '$111.49', '$110.56', '$110.86', datetime.datetime(2023, 5, 4, 21, 17, 13, 235038))
(67, 'meta', '$149.00', '$149.00', '$146.35', '$147.36', datetime.datetime(2023, 5, 4, 21, 17, 22, 304495))
(68, 'meta', '$149.00', '$149.00', '$146.35', '$147.36', datetime.datetime(2023, 5, 4, 21, 17, 28, 927449))
(69, 'meta', '$149.00', '$149.00', '$146.35', '$147.36', datetime.datetime(2023, 5, 4, 21, 17, 32, 760247))
(70, 'meta', '$149.00', '$149.00', '$146.35', '$147.36', datetime.datetime(2023, 5, 4, 21, 23, 12, 922008))
(71, 'ABBV', '$149.00', '$149.00', '$146.35', '$147.36', datetime.datetime(2023, 5, 4, 21, 23, 37, 99773))
(72, 'ABBV', '$149.00', '$149.00', '$146.35', '$147.36', datetime.datetime(2023, 5, 4, 21, 24, 53, 164489))
(73, 'lmt', '$453.66', '$454.04', '$446.21', '$451.93', datetime.datetime(2023, 5, 4, 21, 25, 4, 957155))
(74, 'NOC', '$443.28', '$445.28', '$435.20', '$442.23', datetime.datetime(2023, 5, 4, 21, 25, 27, 363175))
(75, 'AMAT', '$113.05', '$113.41', '$111.72', '$112.45', datetime.datetime(2023, 5, 4, 21, 25, 38, 987355))
(76, 'AMD', '$81.57', '$91.64', '$81.11', '$86.61', datetime.datetime(2023, 5, 4, 21, 25, 57, 47805))

[(1,
  'AMD',
  '$83.54',
  '$85.48',
  '$81.02',
  '$81.62',
  datetime.datetime(2023, 5, 4, 20, 15, 57, 949056)),
 (2,
  'AMD',
  '$83.54',
  '$85.48',
  '$81.02',
  '$81.62',
  datetime.datetime(2023, 5, 4, 20, 16, 28, 901061)),
 (3,
  'AMD',
  '$83.54',
  '$85.48',
  '$81.02',
  '$81.62',
  datetime.datetime(2023, 5, 4, 20, 16, 49, 279460)),
 (4,
  'AMD',
  '$83.54',
  '$85.48',
  '$81.02',
  '$81.62',
  datetime.datetime(2023, 5, 4, 20, 17, 35, 522362)),
 (5,
  'AMD',
  '$83.54',
  '$85.48',
  '$81.02',
  '$81.62',
  datetime.datetime(2023, 5, 4, 20, 22, 24, 679921)),
 (6,
  'AMD',
  '$83.54',
  '$85.48',
  '$81.02',
  '$81.62',
  datetime.datetime(2023, 5, 4, 20, 23, 38, 929651)),
 (7,
  'AVGO',
  '$616.90',
  '$621.95',
  '$612.52',
  '$613.20',
  datetime.datetime(2023, 5, 4, 20, 24, 35, 682486)),
 (8,
  'CAT',
  '$215.64',
  '$219.17',
  '$215.13',
  '$215.64',
  datetime.datetime(2023, 5, 4, 20, 27, 30, 844859)),
 (9,
  'BA',
  '$204.36',
  '$206.10',
  '$200.57',
  '$200.93',
  datetime.datetime(2023, 5, 4, 20, 27, 52, 945680)),
 (10,
  'CSX',
  '$31.15',
  '$31.50',
  '$30.90',
  '$30.93',
  datetime.datetime(2023, 5, 4, 20, 28, 6, 602373)),
 (11,
  'CRWD',
  '$116.46',
  '$119.03',
  '$115.67',
  '$117.68',
  datetime.datetime(2023, 5, 4, 20, 28, 21, 379161)),
 (12,
  'CMCSA',
  '$41.36',
  '$41.53',
  '$40.81',
  '$40.89',
  datetime.datetime(2023, 5, 4, 20, 28, 33, 192343)),
 (13,
  'XOM',
  '$109.08',
  '$109.81',
  '$107.76',
  '$107.93',
  datetime.datetime(2023, 5, 4, 20, 28, 46, 838633)),
 (14,
  'DOCU',
  '$48.54',
  '$48.62',
  '$46.80',
  '$47.40',
  datetime.datetime(2023, 5, 4, 20, 29, 2, 532958)),
 (15,
  'EBAY',
  '$45.24',
  '$45.77',
  '$44.61',
  '$44.77',
  datetime.datetime(2023, 5, 4, 20, 29, 20, 210038)),
 (16,
  'FAST',
  '$54.67',
  '$55.24',
  '$54.00',
  '$54.08',
  datetime.datetime(2023, 5, 4, 20, 29, 34, 460717)),
 (17,
  'GOOGL',
  '$105.53',
  '$107.49',
  '$104.96',
  '$105.41',
  datetime.datetime(2023, 5, 4, 20, 31, 37, 172001)),
 (18,
  'adp',
  '$218.05',
  '$219.50',
  '$215.96',
  '$215.98',
  datetime.datetime(2023, 5, 4, 20, 32, 46, 295174)),
 (19,
  'amgn',
  '$235.97',
  '$236.30',
  '$228.98',
  '$229.31',
  datetime.datetime(2023, 5, 4, 20, 33, 6, 868099)),
 (20,
  'GILD',
  '$80.49',
  '$80.90',
  '$79.12',
  '$79.45',
  datetime.datetime(2023, 5, 4, 20, 40, 51, 353741)),
 (21,
  'GILD',
  '$80.49',
  '$80.90',
  '$79.12',
  '$79.45',
  datetime.datetime(2023, 5, 4, 20, 40, 52, 223441)),
 (22,
  'GILD',
  '$80.49',
  '$80.90',
  '$79.12',
  '$79.45',
  datetime.datetime(2023, 5, 4, 20, 44, 12, 503787)),
 (23,
  'HON',
  '$199.72',
  '$200.58',
  '$197.71',
  '$197.93',
  datetime.datetime(2023, 5, 4, 20, 44, 35, 81816)),
 (24,
  'NFLX',
  '$317.55',
  '$324.62',
  '$315.85',
  '$319.30',
  datetime.datetime(2023, 5, 4, 20, 44, 48, 494213)),
 (25,
  'NVDA',
  '$278.40',
  '$283.67',
  '$274.72',
  '$278.02',
  datetime.datetime(2023, 5, 4, 20, 45, 0, 221809)),
 (26,
  'NVDA',
  '$278.40',
  '$283.67',
  '$274.72',
  '$278.02',
  datetime.datetime(2023, 5, 4, 20, 49, 44, 536664)),
 (27,
  'NVDA',
  '$278.40',
  '$283.67',
  '$274.72',
  '$278.02',
  datetime.datetime(2023, 5, 4, 20, 49, 55, 66709)),
 (28,
  'okta',
  '$70.20',
  '$70.85',
  '$68.13',
  '$70.15',
  datetime.datetime(2023, 5, 4, 20, 50, 7, 934056)),
 (29,
  'mvrl',
  '$16.87',
  '$17.31',
  '$16.70',
  '$16.71',
  datetime.datetime(2023, 5, 4, 20, 50, 18, 69141)),
 (30,
  'panw',
  '$177.01',
  '$180.54',
  '$176.35',
  '$177.66',
  datetime.datetime(2023, 5, 4, 20, 50, 27, 547988)),
 (31,
  'pypl',
  '$72.41',
  '$72.99',
  '$71.35',
  '$71.43',
  datetime.datetime(2023, 5, 4, 20, 50, 37, 680101)),
 (32,
  'sbux',
  '$109.08',
  '$109.72',
  '$103.80',
  '$103.96',
  datetime.datetime(2023, 5, 4, 20, 50, 49, 162651)),
 (33,
  'swks',
  '$105.66',
  '$107.81',
  '$105.06',
  '$105.19',
  datetime.datetime(2023, 5, 4, 20, 51, 1, 717283)),
 (34,
  'meta',
  '$105.66',
  '$107.81',
  '$105.06',
  '$105.19',
  datetime.datetime(2023, 5, 4, 20, 51, 38, 725197)),
 (35,
  'meta',
  '$306.24',
  '$307.76',
  '$303.40',
  '$305.41',
  datetime.datetime(2023, 5, 4, 21, 7, 8, 984536)),
 (36,
  'meta',
  '$306.24',
  '$307.76',
  '$303.40',
  '$305.41',
  datetime.datetime(2023, 5, 4, 21, 8, 7, 161587)),
 (37,
  'meta',
  '$306.24',
  '$307.76',
  '$303.40',
  '$305.41',
  datetime.datetime(2023, 5, 4, 21, 8, 44, 7926)),
 (38,
  'meta',
  '$276.51',
  '$278.58',
  '$272.40',
  '$275.62',
  datetime.datetime(2023, 5, 4, 21, 9, 21, 723976)),
 (39,
  'meta',
  '$77.42',
  '$77.50',
  '$76.75',
  '$77.29',
  datetime.datetime(2023, 5, 4, 21, 9, 36, 741441)),
 (40,
  'meta',
  '$383.12',
  '$384.68',
  '$381.02',
  '$382.06',
  datetime.datetime(2023, 5, 4, 21, 9, 46, 688646)),
 (41,
  'meta',
  '$133.93',
  '$138.22',
  '$129.75',
  '$134.33',
  datetime.datetime(2023, 5, 4, 21, 9, 58, 304122)),
 (42,
  'meta',
  '$58.58',
  '$58.73',
  '$57.61',
  '$57.82',
  datetime.datetime(2023, 5, 4, 21, 10, 16, 787559)),
 (43,
  'meta',
  '$58.58',
  '$58.73',
  '$57.61',
  '$57.82',
  datetime.datetime(2023, 5, 4, 21, 10, 56, 334016)),
 (44,
  'meta',
  '$104.03',
  '$107.12',
  '$103.54',
  '$106.58',
  datetime.datetime(2023, 5, 4, 21, 11, 16, 44)),
 (45,
  'meta',
  '$104.03',
  '$107.12',
  '$103.54',
  '$106.58',
  datetime.datetime(2023, 5, 4, 21, 11, 21, 638070)),
 (46,
  'meta',
  '$193.08',
  '$193.95',
  '$192.15',
  '$193.38',
  datetime.datetime(2023, 5, 4, 21, 11, 35, 473791)),
 (47,
  'meta',
  '$63.74',
  '$63.93',
  '$63.51',
  '$63.72',
  datetime.datetime(2023, 5, 4, 21, 11, 46, 577931)),
 (48,
  'meta',
  '$63.74',
  '$63.93',
  '$63.51',
  '$63.72',
  datetime.datetime(2023, 5, 4, 21, 11, 51, 952197)),
 (49,
  'meta',
  '$63.74',
  '$63.93',
  '$63.51',
  '$63.72',
  datetime.datetime(2023, 5, 4, 21, 11, 54, 958711)),
 (50,
  'meta',
  '$63.74',
  '$63.93',
  '$63.51',
  '$63.72',
  datetime.datetime(2023, 5, 4, 21, 11, 58, 954571)),
 (51,
  'meta',
  '$382.10',
  '$384.02',
  '$373.33',
  '$373.59',
  datetime.datetime(2023, 5, 4, 21, 12, 8, 314704)),
 (52,
  'meta',
  '$382.10',
  '$384.02',
  '$373.33',
  '$373.59',
  datetime.datetime(2023, 5, 4, 21, 12, 11, 655839)),
 (53,
  'meta',
  '$382.10',
  '$384.02',
  '$373.33',
  '$373.59',
  datetime.datetime(2023, 5, 4, 21, 12, 14, 685293)),
 (54,
  'meta',
  '$453.66',
  '$454.04',
  '$446.21',
  '$451.93',
  datetime.datetime(2023, 5, 4, 21, 13, 15, 560123)),
 (55,
  'meta',
  '$443.28',
  '$445.27',
  '$435.20',
  '$442.23',
  datetime.datetime(2023, 5, 4, 21, 13, 29, 453259)),
 (56,
  'meta',
  '$443.28',
  '$445.27',
  '$435.20',
  '$442.23',
  datetime.datetime(2023, 5, 4, 21, 13, 33, 196417)),
 (57,
  'meta',
  '$443.28',
  '$445.27',
  '$435.20',
  '$442.23',
  datetime.datetime(2023, 5, 4, 21, 13, 37, 245271)),
 (58,
  'meta',
  '$137.48',
  '$140.95',
  '$136.59',
  '$140.48',
  datetime.datetime(2023, 5, 4, 21, 13, 52, 711287)),
 (59,
  'meta',
  '$54.87',
  '$59.82',
  '$53.88',
  '$57.30',
  datetime.datetime(2023, 5, 4, 21, 15, 5, 97676)),
 (60,
  'meta',
  '$488.94',
  '$490.91',
  '$485.93',
  '$490.34',
  datetime.datetime(2023, 5, 4, 21, 15, 26, 403903)),
 (61,
  'meta',
  '$459.35',
  '$463.42',
  '$456.58',
  '$457.93',
  datetime.datetime(2023, 5, 4, 21, 15, 43, 423218)),
 (62,
  'meta',
  '$116.50',
  '$117.87',
  '$116.03',
  '$117.42',
  datetime.datetime(2023, 5, 4, 21, 16, 9, 991595)),
 (63,
  'meta',
  '$196.50',
  '$197.13',
  '$193.47',
  '$196.30',
  datetime.datetime(2023, 5, 4, 21, 16, 31, 363820)),
 (64,
  'meta',
  '$30.43',
  '$31.72',
  '$30.38',
  '$31.24',
  datetime.datetime(2023, 5, 4, 21, 16, 47, 808366)),
 (65,
  'meta',
  '$45.77',
  '$45.93',
  '$45.56',
  '$45.70',
  datetime.datetime(2023, 5, 4, 21, 17, 0, 941499)),
 (66,
  'meta',
  '$111.45',
  '$111.49',
  '$110.56',
  '$110.86',
  datetime.datetime(2023, 5, 4, 21, 17, 13, 235038)),
 (67,
  'meta',
  '$149.00',
  '$149.00',
  '$146.35',
  '$147.36',
  datetime.datetime(2023, 5, 4, 21, 17, 22, 304495)),
 (68,
  'meta',
  '$149.00',
  '$149.00',
  '$146.35',
  '$147.36',
  datetime.datetime(2023, 5, 4, 21, 17, 28, 927449)),
 (69,
  'meta',
  '$149.00',
  '$149.00',
  '$146.35',
  '$147.36',
  datetime.datetime(2023, 5, 4, 21, 17, 32, 760247)),
 (70,
  'meta',
  '$149.00',
  '$149.00',
  '$146.35',
  '$147.36',
  datetime.datetime(2023, 5, 4, 21, 23, 12, 922008)),
 (71,
  'ABBV',
  '$149.00',
  '$149.00',
  '$146.35',
  '$147.36',
  datetime.datetime(2023, 5, 4, 21, 23, 37, 99773)),
 (72,
  'ABBV',
  '$149.00',
  '$149.00',
  '$146.35',
  '$147.36',
  datetime.datetime(2023, 5, 4, 21, 24, 53, 164489)),
 (73,
  'lmt',
  '$453.66',
  '$454.04',
  '$446.21',
  '$451.93',
  datetime.datetime(2023, 5, 4, 21, 25, 4, 957155)),
 (74,
  'NOC',
  '$443.28',
  '$445.28',
  '$435.20',
  '$442.23',
  datetime.datetime(2023, 5, 4, 21, 25, 27, 363175)),
 (75,
  'AMAT',
  '$113.05',
  '$113.41',
  '$111.72',
  '$112.45',
  datetime.datetime(2023, 5, 4, 21, 25, 38, 987355)),
 (76,
  'AMD',
  '$81.57',
  '$91.64',
  '$81.11',
  '$86.61',
  datetime.datetime(2023, 5, 4, 21, 25, 57, 47805))]

In [16]:
conn = psycopg2.connect(host='localhost', dbname='tradevance_db', user='postgres', password="7-Fr3sa.12", port=5432)
cur = conn.cursor()

transaction_data = []
sql = """SELECT * FROM transaction_records;"""

cur.execute(sql)

for row in cur.fetchall():
    print(row)
    transaction_data.append(row)

conn.commit()

cur.close()
conn.close()
transaction_data

(1, 9, 1, datetime.datetime(2023, 5, 4, 20, 16, 28, 929984), 5, 2, 0, 'USD')
(2, 9, 1, datetime.datetime(2023, 5, 4, 20, 16, 49, 315872), 5, 3, 0, 'USD')
(3, 9, 1, datetime.datetime(2023, 5, 4, 20, 17, 35, 534329), 5, 4, 0, 'USD')
(4, 9, 1, datetime.datetime(2023, 5, 4, 20, 22, 24, 683911), 5, 5, 0, 'USD')
(5, 9, 1, datetime.datetime(2023, 5, 4, 20, 23, 38, 937629), 5, 6, 0, 'USD')
(6, 9, 1, datetime.datetime(2023, 5, 4, 20, 24, 35, 696449), 10, 7, 0, 'USD')
(7, 9, 1, datetime.datetime(2023, 5, 4, 20, 27, 30, 850843), 20, 8, 0, 'USD')
(8, 9, 1, datetime.datetime(2023, 5, 4, 20, 27, 52, 959642), 15, 9, 0, 'USD')
(9, 9, 1, datetime.datetime(2023, 5, 4, 20, 28, 6, 609354), 15, 10, 0, 'USD')
(10, 9, 1, datetime.datetime(2023, 5, 4, 20, 28, 21, 394121), 15, 11, 0, 'USD')
(11, 9, 1, datetime.datetime(2023, 5, 4, 20, 28, 33, 207303), 15, 12, 0, 'USD')
(12, 9, 1, datetime.datetime(2023, 5, 4, 20, 28, 46, 853593), 40, 13, 0, 'USD')
(13, 9, 1, datetime.datetime(2023, 5, 4, 20, 29, 2, 540936), 35, 14, 0, 'USD')
(14, 9, 1, datetime.datetime(2023, 5, 4, 20, 29, 20, 214026), 25, 15, 0, 'USD')
(15, 9, 1, datetime.datetime(2023, 5, 4, 20, 29, 34, 490636), 10, 16, 0, 'USD')
(16, 9, 1, datetime.datetime(2023, 5, 4, 20, 31, 37, 190951), 20, 17, 0, 'USD')
(17, 9, 1, datetime.datetime(2023, 5, 4, 20, 32, 46, 300160), 15, 18, 0, 'USD')
(18, 9, 1, datetime.datetime(2023, 5, 4, 20, 33, 6, 899016), 6, 19, 0, 'USD')
(19, 9, 1, datetime.datetime(2023, 5, 4, 20, 40, 51, 381666), 10, 20, 0, 'USD')
(20, 9, 1, datetime.datetime(2023, 5, 4, 20, 44, 12, 527723), 10, 22, 0, 'USD')
(21, 9, 1, datetime.datetime(2023, 5, 4, 20, 44, 35, 95778), 25, 23, 0, 'USD')
(22, 9, 1, datetime.datetime(2023, 5, 4, 20, 44, 48, 500198), 15, 24, 0, 'USD')
(23, 9, 1, datetime.datetime(2023, 5, 4, 20, 45, 0, 246742), 20, 25, 0, 'USD')
(24, 9, 1, datetime.datetime(2023, 5, 4, 20, 49, 44, 544642), 73, 26, 0, 'USD')
(25, 9, 1, datetime.datetime(2023, 5, 4, 20, 49, 55, 91642), 33, 27, 0, 'USD')
(26, 9, 1, datetime.datetime(2023, 5, 4, 20, 50, 7, 938046), 42, 28, 0, 'USD')
(27, 9, 1, datetime.datetime(2023, 5, 4, 20, 50, 18, 77120), 50, 29, 0, 'USD')
(28, 9, 1, datetime.datetime(2023, 5, 4, 20, 50, 27, 565939), 29, 30, 0, 'USD')
(29, 9, 1, datetime.datetime(2023, 5, 4, 20, 50, 37, 686085), 38, 31, 0, 'USD')
(30, 9, 1, datetime.datetime(2023, 5, 4, 20, 50, 49, 185591), 25, 32, 0, 'USD')
(31, 9, 1, datetime.datetime(2023, 5, 4, 20, 51, 1, 740222), 62, 33, 0, 'USD')
(32, 9, 1, datetime.datetime(2023, 5, 4, 20, 51, 38, 730184), 18, 34, 0, 'USD')
(33, 9, 1, datetime.datetime(2023, 5, 4, 21, 8, 7, 161587), 40, 36, 0, 'USD')
(34, 9, 1, datetime.datetime(2023, 5, 4, 21, 8, 44, 7926), 66, 37, 0, 'USD')
(35, 9, 1, datetime.datetime(2023, 5, 4, 21, 9, 21, 723976), 29, 38, 0, 'USD')
(36, 9, 1, datetime.datetime(2023, 5, 4, 21, 9, 36, 741441), 67, 39, 0, 'USD')
(37, 9, 1, datetime.datetime(2023, 5, 4, 21, 9, 46, 688646), 13, 40, 0, 'USD')
(38, 9, 1, datetime.datetime(2023, 5, 4, 21, 9, 58, 304122), 20, 41, 0, 'USD')
(39, 9, 1, datetime.datetime(2023, 5, 4, 21, 10, 16, 787559), 43, 42, 0, 'USD')
(40, 9, 1, datetime.datetime(2023, 5, 4, 21, 10, 56, 334016), 73, 43, 0, 'USD')
(41, 9, 1, datetime.datetime(2023, 5, 4, 21, 11, 16, 44), 33, 44, 0, 'USD')
(42, 9, 1, datetime.datetime(2023, 5, 4, 21, 11, 21, 638070), 18, 45, 0, 'USD')
(43, 9, 1, datetime.datetime(2023, 5, 4, 21, 11, 35, 473791), 47, 46, 0, 'USD')
(44, 9, 1, datetime.datetime(2023, 5, 4, 21, 11, 46, 577931), 47, 47, 0, 'USD')
(45, 9, 1, datetime.datetime(2023, 5, 4, 21, 11, 51, 952197), 16, 48, 0, 'USD')
(46, 9, 1, datetime.datetime(2023, 5, 4, 21, 11, 54, 958711), 21, 49, 0, 'USD')
(47, 9, 1, datetime.datetime(2023, 5, 4, 21, 11, 58, 954571), 39, 50, 0, 'USD')
(48, 9, 1, datetime.datetime(2023, 5, 4, 21, 12, 8, 314704), 32, 51, 0, 'USD')
(49, 9, 1, datetime.datetime(2023, 5, 4, 21, 12, 11, 655839), 20, 52, 0, 'USD')
(50, 9, 1, datetime.datetime(2023, 5, 4, 21, 12, 14, 685293), 54, 53, 0, 'USD')
(51, 9, 1, datetime.datetime(2023, 5, 4, 21, 13, 15, 560123), 64, 54, 0, 'USD')
(52, 9, 1, datetime.datetime(2023, 5, 4, 21, 13, 29, 453259), 20, 55, 0, 'USD')
(53, 9, 1, datetime.datetime(2023, 5, 4, 21, 13, 33, 196417), 46, 56, 0, 'USD')
(54, 9, 1, datetime.datetime(2023, 5, 4, 21, 13, 37, 245271), 49, 57, 0, 'USD')
(55, 9, 1, datetime.datetime(2023, 5, 4, 21, 13, 52, 711287), 43, 58, 0, 'USD')
(56, 9, 1, datetime.datetime(2023, 5, 4, 21, 15, 5, 97676), 60, 59, 0, 'USD')
(57, 9, 1, datetime.datetime(2023, 5, 4, 21, 15, 26, 403903), 75, 60, 0, 'USD')
(58, 9, 1, datetime.datetime(2023, 5, 4, 21, 15, 43, 423218), 47, 61, 0, 'USD')
(59, 9, 1, datetime.datetime(2023, 5, 4, 21, 16, 9, 991595), 68, 62, 0, 'USD')
(60, 9, 1, datetime.datetime(2023, 5, 4, 21, 16, 31, 363820), 52, 63, 0, 'USD')
(61, 9, 1, datetime.datetime(2023, 5, 4, 21, 16, 47, 808366), 73, 64, 0, 'USD')
(62, 9, 1, datetime.datetime(2023, 5, 4, 21, 17, 0, 941499), 49, 65, 0, 'USD')
(63, 9, 1, datetime.datetime(2023, 5, 4, 21, 17, 13, 235038), 50, 66, 0, 'USD')
(64, 9, 1, datetime.datetime(2023, 5, 4, 21, 17, 22, 304495), 72, 67, 0, 'USD')
(65, 9, 1, datetime.datetime(2023, 5, 4, 21, 17, 28, 927449), 40, 68, 0, 'USD')
(66, 9, 1, datetime.datetime(2023, 5, 4, 21, 17, 32, 760247), 26, 69, 0, 'USD')
(67, 9, 1, datetime.datetime(2023, 5, 4, 21, 23, 12, 922008), 49, 70, 0, 'USD')
(68, 9, 1, datetime.datetime(2023, 5, 4, 21, 23, 37, 99773), 37, 71, 0, 'USD')
(69, 9, 1, datetime.datetime(2023, 5, 4, 21, 24, 53, 164489), 21, 72, 0, 'USD')
(70, 9, 1, datetime.datetime(2023, 5, 4, 21, 25, 4, 957155), 34, 73, 0, 'USD')
(71, 9, 1, datetime.datetime(2023, 5, 4, 21, 25, 27, 363175), 54, 74, 0, 'USD')
(72, 9, 1, datetime.datetime(2023, 5, 4, 21, 25, 38, 987355), 46, 75, 0, 'USD')
(73, 9, 1, datetime.datetime(2023, 5, 4, 21, 25, 57, 47805), 35, 76, 0, 'USD')

[(1, 9, 1, datetime.datetime(2023, 5, 4, 20, 16, 28, 929984), 5, 2, 0, 'USD'),
 (2, 9, 1, datetime.datetime(2023, 5, 4, 20, 16, 49, 315872), 5, 3, 0, 'USD'),
 (3, 9, 1, datetime.datetime(2023, 5, 4, 20, 17, 35, 534329), 5, 4, 0, 'USD'),
 (4, 9, 1, datetime.datetime(2023, 5, 4, 20, 22, 24, 683911), 5, 5, 0, 'USD'),
 (5, 9, 1, datetime.datetime(2023, 5, 4, 20, 23, 38, 937629), 5, 6, 0, 'USD'),
 (6, 9, 1, datetime.datetime(2023, 5, 4, 20, 24, 35, 696449), 10, 7, 0, 'USD'),
 (7, 9, 1, datetime.datetime(2023, 5, 4, 20, 27, 30, 850843), 20, 8, 0, 'USD'),
 (8, 9, 1, datetime.datetime(2023, 5, 4, 20, 27, 52, 959642), 15, 9, 0, 'USD'),
 (9, 9, 1, datetime.datetime(2023, 5, 4, 20, 28, 6, 609354), 15, 10, 0, 'USD'),
 (10,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 28, 21, 394121),
  15,
  11,
  0,
  'USD'),
 (11,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 28, 33, 207303),
  15,
  12,
  0,
  'USD'),
 (12,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 28, 46, 853593),
  40,
  13,
  0,
  'USD'),
 (13,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 29, 2, 540936),
  35,
  14,
  0,
  'USD'),
 (14,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 29, 20, 214026),
  25,
  15,
  0,
  'USD'),
 (15,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 29, 34, 490636),
  10,
  16,
  0,
  'USD'),
 (16,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 31, 37, 190951),
  20,
  17,
  0,
  'USD'),
 (17,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 32, 46, 300160),
  15,
  18,
  0,
  'USD'),
 (18, 9, 1, datetime.datetime(2023, 5, 4, 20, 33, 6, 899016), 6, 19, 0, 'USD'),
 (19,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 40, 51, 381666),
  10,
  20,
  0,
  'USD'),
 (20,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 44, 12, 527723),
  10,
  22,
  0,
  'USD'),
 (21,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 44, 35, 95778),
  25,
  23,
  0,
  'USD'),
 (22,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 44, 48, 500198),
  15,
  24,
  0,
  'USD'),
 (23,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 45, 0, 246742),
  20,
  25,
  0,
  'USD'),
 (24,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 49, 44, 544642),
  73,
  26,
  0,
  'USD'),
 (25,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 49, 55, 91642),
  33,
  27,
  0,
  'USD'),
 (26,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 50, 7, 938046),
  42,
  28,
  0,
  'USD'),
 (27,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 50, 18, 77120),
  50,
  29,
  0,
  'USD'),
 (28,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 50, 27, 565939),
  29,
  30,
  0,
  'USD'),
 (29,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 50, 37, 686085),
  38,
  31,
  0,
  'USD'),
 (30,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 50, 49, 185591),
  25,
  32,
  0,
  'USD'),
 (31,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 51, 1, 740222),
  62,
  33,
  0,
  'USD'),
 (32,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 51, 38, 730184),
  18,
  34,
  0,
  'USD'),
 (33, 9, 1, datetime.datetime(2023, 5, 4, 21, 8, 7, 161587), 40, 36, 0, 'USD'),
 (34, 9, 1, datetime.datetime(2023, 5, 4, 21, 8, 44, 7926), 66, 37, 0, 'USD'),
 (35,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 9, 21, 723976),
  29,
  38,
  0,
  'USD'),
 (36,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 9, 36, 741441),
  67,
  39,
  0,
  'USD'),
 (37,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 9, 46, 688646),
  13,
  40,
  0,
  'USD'),
 (38,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 9, 58, 304122),
  20,
  41,
  0,
  'USD'),
 (39,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 10, 16, 787559),
  43,
  42,
  0,
  'USD'),
 (40,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 10, 56, 334016),
  73,
  43,
  0,
  'USD'),
 (41, 9, 1, datetime.datetime(2023, 5, 4, 21, 11, 16, 44), 33, 44, 0, 'USD'),
 (42,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 11, 21, 638070),
  18,
  45,
  0,
  'USD'),
 (43,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 11, 35, 473791),
  47,
  46,
  0,
  'USD'),
 (44,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 11, 46, 577931),
  47,
  47,
  0,
  'USD'),
 (45,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 11, 51, 952197),
  16,
  48,
  0,
  'USD'),
 (46,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 11, 54, 958711),
  21,
  49,
  0,
  'USD'),
 (47,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 11, 58, 954571),
  39,
  50,
  0,
  'USD'),
 (48,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 12, 8, 314704),
  32,
  51,
  0,
  'USD'),
 (49,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 12, 11, 655839),
  20,
  52,
  0,
  'USD'),
 (50,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 12, 14, 685293),
  54,
  53,
  0,
  'USD'),
 (51,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 13, 15, 560123),
  64,
  54,
  0,
  'USD'),
 (52,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 13, 29, 453259),
  20,
  55,
  0,
  'USD'),
 (53,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 13, 33, 196417),
  46,
  56,
  0,
  'USD'),
 (54,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 13, 37, 245271),
  49,
  57,
  0,
  'USD'),
 (55,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 13, 52, 711287),
  43,
  58,
  0,
  'USD'),
 (56, 9, 1, datetime.datetime(2023, 5, 4, 21, 15, 5, 97676), 60, 59, 0, 'USD'),
 (57,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 15, 26, 403903),
  75,
  60,
  0,
  'USD'),
 (58,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 15, 43, 423218),
  47,
  61,
  0,
  'USD'),
 (59,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 16, 9, 991595),
  68,
  62,
  0,
  'USD'),
 (60,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 16, 31, 363820),
  52,
  63,
  0,
  'USD'),
 (61,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 16, 47, 808366),
  73,
  64,
  0,
  'USD'),
 (62,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 17, 0, 941499),
  49,
  65,
  0,
  'USD'),
 (63,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 17, 13, 235038),
  50,
  66,
  0,
  'USD'),
 (64,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 17, 22, 304495),
  72,
  67,
  0,
  'USD'),
 (65,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 17, 28, 927449),
  40,
  68,
  0,
  'USD'),
 (66,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 17, 32, 760247),
  26,
  69,
  0,
  'USD'),
 (67,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 23, 12, 922008),
  49,
  70,
  0,
  'USD'),
 (68,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 23, 37, 99773),
  37,
  71,
  0,
  'USD'),
 (69,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 24, 53, 164489),
  21,
  72,
  0,
  'USD'),
 (70,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 25, 4, 957155),
  34,
  73,
  0,
  'USD'),
 (71,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 25, 27, 363175),
  54,
  74,
  0,
  'USD'),
 (72,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 25, 38, 987355),
  46,
  75,
  0,
  'USD'),
 (73,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 25, 57, 47805),
  35,
  76,
  0,
  'USD')]

In [17]:
conn = psycopg2.connect(host='localhost', dbname='tradevance_db', user='postgres', password="7-Fr3sa.12", port=5432)
cur = conn.cursor()

account_data = []
sql = """SELECT * FROM account;"""

cur.execute(sql)

for row in cur.fetchall():
    print(row)
    account_data.append(row)

conn.commit()

cur.close()
conn.close()
account_data

(1, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 17, 35, 569237))
(2, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 22, 24, 684907))
(3, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 23, 38, 981513))
(4, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 24, 35, 731861))
(5, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 27, 30, 892730))
(6, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 27, 53, 4521))
(7, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 28, 6, 625311))
(8, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 28, 21, 432020))
(9, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 28, 33, 251184))
(10, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 28, 46, 854590))
(11, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 29, 2, 574846))
(12, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 29, 20, 215023))
(13, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 29, 34, 492633))
(14, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 31, 37, 228849))
(15, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 32, 46, 301158))
(16, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 33, 6, 901011))
(17, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 40, 51, 383661))
(18, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 44, 12, 551658))
(19, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 44, 35, 131682))
(20, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 44, 48, 528122))
(21, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 45, 0, 248737))
(22, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 49, 44, 572568))
(23, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 49, 55, 93637))
(24, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 50, 7, 939548))
(25, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 50, 18, 105045))
(26, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 50, 27, 567934))
(27, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 50, 37, 688079))
(28, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 50, 49, 213515))
(29, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 51, 1, 768147))
(30, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 51, 38, 758631))
(31, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 8, 7, 161587))
(32, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 8, 44, 7926))
(33, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 9, 21, 723976))
(34, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 9, 36, 741441))
(35, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 9, 46, 688646))
(36, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 9, 58, 304122))
(37, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 10, 16, 787559))
(38, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 10, 56, 334016))
(39, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 11, 16, 44))
(40, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 11, 21, 638070))
(41, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 11, 35, 473791))
(42, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 11, 46, 577931))
(43, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 11, 51, 952197))
(44, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 11, 54, 958711))
(45, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 11, 58, 954571))
(46, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 12, 8, 314704))
(47, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 12, 11, 655839))
(48, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 12, 14, 685293))
(49, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 13, 15, 560123))
(50, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 13, 29, 453259))
(51, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 13, 33, 196417))
(52, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 13, 37, 245271))
(53, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 13, 52, 711287))
(54, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 15, 5, 97676))
(55, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 15, 26, 403903))
(56, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 15, 43, 423218))
(57, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 16, 9, 991595))
(58, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 16, 31, 363820))
(59, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 16, 47, 808366))
(60, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 17, 0, 941499))
(61, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 17, 13, 235038))
(62, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 17, 22, 304495))
(63, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 17, 28, 927449))
(64, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 17, 32, 760247))
(65, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 23, 12, 922008))
(66, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 23, 37, 99773))
(67, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 24, 53, 164489))
(68, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 25, 4, 957155))
(69, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 25, 27, 363175))
(70, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 25, 38, 987355))
(71, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 25, 57, 47805))

[(1, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 17, 35, 569237)),
 (2, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 22, 24, 684907)),
 (3, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 23, 38, 981513)),
 (4, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 24, 35, 731861)),
 (5, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 27, 30, 892730)),
 (6, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 27, 53, 4521)),
 (7, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 28, 6, 625311)),
 (8, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 28, 21, 432020)),
 (9, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 28, 33, 251184)),
 (10, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 28, 46, 854590)),
 (11, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 29, 2, 574846)),
 (12, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 29, 20, 215023)),
 (13, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 29, 34, 492633)),
 (14, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 31, 37, 228849)),
 (15, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 32, 46, 301158)),
 (16, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 33, 6, 901011)),
 (17, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 40, 51, 383661)),
 (18, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 44, 12, 551658)),
 (19, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 44, 35, 131682)),
 (20, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 44, 48, 528122)),
 (21, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 45, 0, 248737)),
 (22, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 49, 44, 572568)),
 (23, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 49, 55, 93637)),
 (24, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 50, 7, 939548)),
 (25, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 50, 18, 105045)),
 (26, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 50, 27, 567934)),
 (27, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 50, 37, 688079)),
 (28, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 50, 49, 213515)),
 (29, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 51, 1, 768147)),
 (30, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 51, 38, 758631)),
 (31, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 8, 7, 161587)),
 (32, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 8, 44, 7926)),
 (33, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 9, 21, 723976)),
 (34, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 9, 36, 741441)),
 (35, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 9, 46, 688646)),
 (36, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 9, 58, 304122)),
 (37, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 10, 16, 787559)),
 (38, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 10, 56, 334016)),
 (39, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 11, 16, 44)),
 (40, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 11, 21, 638070)),
 (41, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 11, 35, 473791)),
 (42, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 11, 46, 577931)),
 (43, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 11, 51, 952197)),
 (44, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 11, 54, 958711)),
 (45, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 11, 58, 954571)),
 (46, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 12, 8, 314704)),
 (47, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 12, 11, 655839)),
 (48, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 12, 14, 685293)),
 (49, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 13, 15, 560123)),
 (50, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 13, 29, 453259)),
 (51, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 13, 33, 196417)),
 (52, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 13, 37, 245271)),
 (53, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 13, 52, 711287)),
 (54, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 15, 5, 97676)),
 (55, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 15, 26, 403903)),
 (56, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 15, 43, 423218)),
 (57, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 16, 9, 991595)),
 (58, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 16, 31, 363820)),
 (59, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 16, 47, 808366)),
 (60, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 17, 0, 941499)),
 (61, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 17, 13, 235038)),
 (62, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 17, 22, 304495)),
 (63, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 17, 28, 927449)),
 (64, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 17, 32, 760247)),
 (65, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 23, 12, 922008)),
 (66, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 23, 37, 99773)),
 (67, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 24, 53, 164489)),
 (68, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 25, 4, 957155)),
 (69, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 25, 27, 363175)),
 (70, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 25, 38, 987355)),
 (71, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 25, 57, 47805))]

In [18]:
conn = psycopg2.connect(host='localhost', dbname='tradevance_db', user='postgres', password="7-Fr3sa.12", port=5432)
cur = conn.cursor()

user_data = []
sql = """SELECT * FROM user_profile;"""

cur.execute(sql)

for row in cur.fetchall():
    print(row)
    user_data.append(row)

conn.commit()

cur.close()
conn.close()
user_data

(1, 'Jenn', 'Minor', 'password', 10, 100)
(2, 'David', 'Taylor', 'password', 11, 200)
(3, 'Joseph', 'Martin', 'password', 12, 300)
(4, 'Carol', 'Lee', 'password', 13, 400)
(5, 'Donna', 'Allen', 'password', 14, 500)
(6, 'Emily', 'King', 'password', 15, 600)
(7, 'Amy', 'Greene', 'password', 16, 700)
(8, 'Larry', 'Adams', 'password', 17, 800)
(9, 'Nicole', 'Baker', 'password', 18, 900)
(10, 'Julie', 'Morris', 'password', 19, 1000)
(11, 'Diane', 'Cook', 'password', 20, 1100)
(12, 'Scott', 'Rogers', 'password', 21, 1200)

[(1, 'Jenn', 'Minor', 'password', 10, 100),
 (2, 'David', 'Taylor', 'password', 11, 200),
 (3, 'Joseph', 'Martin', 'password', 12, 300),
 (4, 'Carol', 'Lee', 'password', 13, 400),
 (5, 'Donna', 'Allen', 'password', 14, 500),
 (6, 'Emily', 'King', 'password', 15, 600),
 (7, 'Amy', 'Greene', 'password', 16, 700),
 (8, 'Larry', 'Adams', 'password', 17, 800),
 (9, 'Nicole', 'Baker', 'password', 18, 900),
 (10, 'Julie', 'Morris', 'password', 19, 1000),
 (11, 'Diane', 'Cook', 'password', 20, 1100),
 (12, 'Scott', 'Rogers', 'password', 21, 1200)]

In [44]:
conn = psycopg2.connect(host='localhost', dbname='tradevance_db', user='postgres', password="7-Fr3sa.12", port=5432)
cur = conn.cursor()

transaction_side = []
sql = """SELECT * FROM transaction_side;"""

cur.execute(sql)

for row in cur.fetchall():
    print(row)
    transaction_side.append(row)

conn.commit()

cur.close()
conn.close()
transaction_side

(1, 'sell to open', 'sto', 'Sell')
(2, 'sell to close', 'stc', 'Sell')
(3, 'buy to open', 'bto', 'Buy')
(4, 'buy to close', 'btc', 'Buy')

[(1, 'sell to open', 'sto', 'Sell'),
 (2, 'sell to close', 'stc', 'Sell'),
 (3, 'buy to open', 'bto', 'Buy'),
 (4, 'buy to close', 'btc', 'Buy')]

In [45]:
user_data[0][1]

'Jenn'

In [70]:
amount = '${:,.2f}'.format(1234.5)

print(type(amount), amount)

<class 'str'> $1,234.50

In [111]:
# amnt = amount.replace('\$|,', '', regex=True)
# string = "$81.62"
float_num = float((equity_data[transaction_data[0][5]][5])[1:])
qty = int(transaction_data[0][4])

sub_total = qty * float_num

print(f"transaction Date:{transaction_data[0][3]}--  Trader:{user_data[transaction_data[0][1]][1]} {user_data[transaction_data[0][1]][2]}--{transaction_side[transaction_data[0][2]][3]}")
print(f" {transaction_data[0][4]} shares of symbol {equity_data[transaction_data[0][5]][1]} at the price of {equity_data[transaction_data[0][5]][5]}")
print(f" for a total price of {sub_total}")

transaction Date:2023-05-04 20:16:28.929984--  Trader:Julie Morris--Sell
 5 shares of symbol AMD at the price of $81.62
 for a total price of 408.1

In [82]:
row = [ transaction_data[0][3], f"{user_data[transaction_data[0][1]][1]} {user_data[transaction_data[0][1]][2]}", transaction_side[transaction_data[0][2]][3], 
       transaction_data[0][4], equity_data[transaction_data[0][5]][1], equity_data[transaction_data[0][5]][5] ]

row

[datetime.datetime(2023, 5, 4, 20, 16, 28, 929984),
 'Julie Morris',
 'Sell',
 5,
 'AMD',
 '$81.62']

In [207]:
mtrx = []

for idx in range( 0, len(transaction_data)):
    float_num = float((equity_data[transaction_data[idx][5]][5])[1:])
    qty = int(transaction_data[idx][4])
    sub_total = qty * float_num
    row = [ transaction_data[idx][3], f"{user_data[transaction_data[idx][1]][1]} {user_data[transaction_data[idx][1]][2]}", 
           transaction_side[transaction_data[idx][2]][3], 
           transaction_data[idx][4], equity_data[transaction_data[idx][5]][1], 
           equity_data[transaction_data[idx][5]][5], sub_total ]
    mtrx.append(row)
    row = []
    if idx == 70:
        break;
    

mtrx

transaction_df = pd.DataFrame( data = mtrx,
                              columns=['Trans Date', 'trader', 'action', 'Quantity', 'Stocks', 'Close Price', 'Sub-Total'] )
transaction_df

,Trans Date,trader,action,Quantity,Stocks,Close Price,Sub-Total
0,2023-05-04 20:16:28.929984,Julie Morris,Sell,5,AMD,$81.62,408.10
1,2023-05-04 20:16:49.315872,Julie Morris,Sell,5,AMD,$81.62,408.10
2,2023-05-04 20:17:35.534329,Julie Morris,Sell,5,AMD,$81.62,408.10
3,2023-05-04 20:22:24.683911,Julie Morris,Sell,5,AMD,$81.62,408.10
4,2023-05-04 20:23:38.937629,Julie Morris,Sell,5,AVGO,$613.20,3066.00
...,...,...,...,...,...,...,...
66,2023-05-04 21:23:12.922008,Julie Morris,Sell,49,ABBV,$147.36,7220.64
67,2023-05-04 21:23:37.099773,Julie Morris,Sell,37,ABBV,$147.36,5452.32
68,2023-05-04 21:24:53.164489,Julie Morris,Sell,21,lmt,$451.93,9490.53
69,2023-05-04 21:25:04.957155,Julie Morris,Sell,34,NOC,$442.23,15035.82
70,2023-05-04 21:25:27.363175,Julie Morris,Sell,54,AMAT,$112.45,6072.30

In [209]:
print(f"Action:{transaction_side[transaction_data[0][2]][1]}-- Qty:{transaction_data[0][4]}--")

Action:sell to close-- Qty:5--

In [7]:
# CREATE TABLE transaction_records (
# 0    transaction_id		SERIAL PRIMARY KEY,
# 1    account_id 			INT NOT NULL,
# 2    trans_side_id 		INT   NOT NULL,
# 3    trans_date 			TIMESTAMP   NOT NULL,
# 4    quantity 			INT   NOT NULL,
# 5    equity1_id 			INT   NOT NULL,
# 6    equity2_id 			INT   NOT NULL,
# 7    trans_currency    	VARCHAR(10)
# );
tr_data user_data account_data   transaction_data  equity_data
for idx in range(0 len(transaction_data)):

[(1, 9, 1, datetime.datetime(2023, 5, 4, 20, 16, 28, 929984), 5, 2, 0, 'USD'),
 (2, 9, 1, datetime.datetime(2023, 5, 4, 20, 16, 49, 315872), 5, 3, 0, 'USD'),
 (3, 9, 1, datetime.datetime(2023, 5, 4, 20, 17, 35, 534329), 5, 4, 0, 'USD'),
 (4, 9, 1, datetime.datetime(2023, 5, 4, 20, 22, 24, 683911), 5, 5, 0, 'USD'),
 (5, 9, 1, datetime.datetime(2023, 5, 4, 20, 23, 38, 937629), 5, 6, 0, 'USD'),
 (6, 9, 1, datetime.datetime(2023, 5, 4, 20, 24, 35, 696449), 10, 7, 0, 'USD'),
 (7, 9, 1, datetime.datetime(2023, 5, 4, 20, 27, 30, 850843), 20, 8, 0, 'USD'),
 (8, 9, 1, datetime.datetime(2023, 5, 4, 20, 27, 52, 959642), 15, 9, 0, 'USD'),
 (9, 9, 1, datetime.datetime(2023, 5, 4, 20, 28, 6, 609354), 15, 10, 0, 'USD'),
 (10,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 28, 21, 394121),
  15,
  11,
  0,
  'USD'),
 (11,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 28, 33, 207303),
  15,
  12,
  0,
  'USD'),
 (12,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 28, 46, 853593),
  40,
  13,
  0,
  'USD'),
 (13,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 29, 2, 540936),
  35,
  14,
  0,
  'USD'),
 (14,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 29, 20, 214026),
  25,
  15,
  0,
  'USD'),
 (15,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 29, 34, 490636),
  10,
  16,
  0,
  'USD'),
 (16,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 31, 37, 190951),
  20,
  17,
  0,
  'USD'),
 (17,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 32, 46, 300160),
  15,
  18,
  0,
  'USD'),
 (18, 9, 1, datetime.datetime(2023, 5, 4, 20, 33, 6, 899016), 6, 19, 0, 'USD'),
 (19,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 40, 51, 381666),
  10,
  20,
  0,
  'USD'),
 (20,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 44, 12, 527723),
  10,
  22,
  0,
  'USD'),
 (21,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 44, 35, 95778),
  25,
  23,
  0,
  'USD'),
 (22,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 44, 48, 500198),
  15,
  24,
  0,
  'USD'),
 (23,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 45, 0, 246742),
  20,
  25,
  0,
  'USD'),
 (24,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 49, 44, 544642),
  73,
  26,
  0,
  'USD'),
 (25,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 49, 55, 91642),
  33,
  27,
  0,
  'USD'),
 (26,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 50, 7, 938046),
  42,
  28,
  0,
  'USD'),
 (27,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 50, 18, 77120),
  50,
  29,
  0,
  'USD'),
 (28,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 50, 27, 565939),
  29,
  30,
  0,
  'USD'),
 (29,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 50, 37, 686085),
  38,
  31,
  0,
  'USD'),
 (30,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 50, 49, 185591),
  25,
  32,
  0,
  'USD'),
 (31,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 51, 1, 740222),
  62,
  33,
  0,
  'USD'),
 (32,
  9,
  1,
  datetime.datetime(2023, 5, 4, 20, 51, 38, 730184),
  18,
  34,
  0,
  'USD'),
 (33, 9, 1, datetime.datetime(2023, 5, 4, 21, 8, 7, 161587), 40, 36, 0, 'USD'),
 (34, 9, 1, datetime.datetime(2023, 5, 4, 21, 8, 44, 7926), 66, 37, 0, 'USD'),
 (35,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 9, 21, 723976),
  29,
  38,
  0,
  'USD'),
 (36,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 9, 36, 741441),
  67,
  39,
  0,
  'USD'),
 (37,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 9, 46, 688646),
  13,
  40,
  0,
  'USD'),
 (38,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 9, 58, 304122),
  20,
  41,
  0,
  'USD'),
 (39,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 10, 16, 787559),
  43,
  42,
  0,
  'USD'),
 (40,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 10, 56, 334016),
  73,
  43,
  0,
  'USD'),
 (41, 9, 1, datetime.datetime(2023, 5, 4, 21, 11, 16, 44), 33, 44, 0, 'USD'),
 (42,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 11, 21, 638070),
  18,
  45,
  0,
  'USD'),
 (43,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 11, 35, 473791),
  47,
  46,
  0,
  'USD'),
 (44,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 11, 46, 577931),
  47,
  47,
  0,
  'USD'),
 (45,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 11, 51, 952197),
  16,
  48,
  0,
  'USD'),
 (46,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 11, 54, 958711),
  21,
  49,
  0,
  'USD'),
 (47,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 11, 58, 954571),
  39,
  50,
  0,
  'USD'),
 (48,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 12, 8, 314704),
  32,
  51,
  0,
  'USD'),
 (49,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 12, 11, 655839),
  20,
  52,
  0,
  'USD'),
 (50,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 12, 14, 685293),
  54,
  53,
  0,
  'USD'),
 (51,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 13, 15, 560123),
  64,
  54,
  0,
  'USD'),
 (52,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 13, 29, 453259),
  20,
  55,
  0,
  'USD'),
 (53,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 13, 33, 196417),
  46,
  56,
  0,
  'USD'),
 (54,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 13, 37, 245271),
  49,
  57,
  0,
  'USD'),
 (55,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 13, 52, 711287),
  43,
  58,
  0,
  'USD'),
 (56, 9, 1, datetime.datetime(2023, 5, 4, 21, 15, 5, 97676), 60, 59, 0, 'USD'),
 (57,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 15, 26, 403903),
  75,
  60,
  0,
  'USD'),
 (58,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 15, 43, 423218),
  47,
  61,
  0,
  'USD'),
 (59,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 16, 9, 991595),
  68,
  62,
  0,
  'USD'),
 (60,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 16, 31, 363820),
  52,
  63,
  0,
  'USD'),
 (61,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 16, 47, 808366),
  73,
  64,
  0,
  'USD'),
 (62,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 17, 0, 941499),
  49,
  65,
  0,
  'USD'),
 (63,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 17, 13, 235038),
  50,
  66,
  0,
  'USD'),
 (64,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 17, 22, 304495),
  72,
  67,
  0,
  'USD'),
 (65,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 17, 28, 927449),
  40,
  68,
  0,
  'USD'),
 (66,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 17, 32, 760247),
  26,
  69,
  0,
  'USD'),
 (67,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 23, 12, 922008),
  49,
  70,
  0,
  'USD'),
 (68,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 23, 37, 99773),
  37,
  71,
  0,
  'USD'),
 (69,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 24, 53, 164489),
  21,
  72,
  0,
  'USD'),
 (70,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 25, 4, 957155),
  34,
  73,
  0,
  'USD'),
 (71,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 25, 27, 363175),
  54,
  74,
  0,
  'USD'),
 (72,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 25, 38, 987355),
  46,
  75,
  0,
  'USD'),
 (73,
  9,
  1,
  datetime.datetime(2023, 5, 4, 21, 25, 57, 47805),
  35,
  76,
  0,
  'USD')]

In [9]:
#CREATE TABLE user_profile (
# 0    user_id 			SERIAL PRIMARY KEY,
# 1    first_name 			VARCHAR(120)  NOT NULL,
# 2    last_name 			VARCHAR(120)  NOT NULL,
# 3    usr_password 		TEXT  NOT NULL,
# 4    alpaca_acnt_no 		INT   NOT NULL,
# 5    account_id 			INT   NOT NULL
# );

user_data

[(1, 'Jenn', 'Minor', 'password', 10, 100),
 (2, 'David', 'Taylor', 'password', 11, 200),
 (3, 'Joseph', 'Martin', 'password', 12, 300),
 (4, 'Carol', 'Lee', 'password', 13, 400),
 (5, 'Donna', 'Allen', 'password', 14, 500),
 (6, 'Emily', 'King', 'password', 15, 600),
 (7, 'Amy', 'Greene', 'password', 16, 700),
 (8, 'Larry', 'Adams', 'password', 17, 800),
 (9, 'Nicole', 'Baker', 'password', 18, 900),
 (10, 'Julie', 'Morris', 'password', 19, 1000),
 (11, 'Diane', 'Cook', 'password', 20, 1100),
 (12, 'Scott', 'Rogers', 'password', 21, 1200)]

In [12]:
# CREATE TABLE equity (
# 0    equity_id 			SERIAL PRIMARY KEY,
# 1    ticker				VARCHAR(25)   NOT NULL,
# 2    value_open 			MONEY   NOT NULL,
# 3    value_high 			MONEY   NOT NULL,
# 4    value_low 			MONEY   NOT NULL,
# 5   value_close 		MONEY   NOT NULL,
# 6    trans_date 			TIMESTAMP   NOT NULL
# );

db_data

[(1,
  'AMD',
  '$83.54',
  '$85.48',
  '$81.02',
  '$81.62',
  datetime.datetime(2023, 5, 4, 20, 15, 57, 949056)),
 (2,
  'AMD',
  '$83.54',
  '$85.48',
  '$81.02',
  '$81.62',
  datetime.datetime(2023, 5, 4, 20, 16, 28, 901061)),
 (3,
  'AMD',
  '$83.54',
  '$85.48',
  '$81.02',
  '$81.62',
  datetime.datetime(2023, 5, 4, 20, 16, 49, 279460)),
 (4,
  'AMD',
  '$83.54',
  '$85.48',
  '$81.02',
  '$81.62',
  datetime.datetime(2023, 5, 4, 20, 17, 35, 522362)),
 (5,
  'AMD',
  '$83.54',
  '$85.48',
  '$81.02',
  '$81.62',
  datetime.datetime(2023, 5, 4, 20, 22, 24, 679921)),
 (6,
  'AMD',
  '$83.54',
  '$85.48',
  '$81.02',
  '$81.62',
  datetime.datetime(2023, 5, 4, 20, 23, 38, 929651)),
 (7,
  'AVGO',
  '$616.90',
  '$621.95',
  '$612.52',
  '$613.20',
  datetime.datetime(2023, 5, 4, 20, 24, 35, 682486)),
 (8,
  'CAT',
  '$215.64',
  '$219.17',
  '$215.13',
  '$215.64',
  datetime.datetime(2023, 5, 4, 20, 27, 30, 844859)),
 (9,
  'BA',
  '$204.36',
  '$206.10',
  '$200.57',
  '$200.93',
  datetime.datetime(2023, 5, 4, 20, 27, 52, 945680)),
 (10,
  'CSX',
  '$31.15',
  '$31.50',
  '$30.90',
  '$30.93',
  datetime.datetime(2023, 5, 4, 20, 28, 6, 602373)),
 (11,
  'CRWD',
  '$116.46',
  '$119.03',
  '$115.67',
  '$117.68',
  datetime.datetime(2023, 5, 4, 20, 28, 21, 379161)),
 (12,
  'CMCSA',
  '$41.36',
  '$41.53',
  '$40.81',
  '$40.89',
  datetime.datetime(2023, 5, 4, 20, 28, 33, 192343)),
 (13,
  'XOM',
  '$109.08',
  '$109.81',
  '$107.76',
  '$107.93',
  datetime.datetime(2023, 5, 4, 20, 28, 46, 838633)),
 (14,
  'DOCU',
  '$48.54',
  '$48.62',
  '$46.80',
  '$47.40',
  datetime.datetime(2023, 5, 4, 20, 29, 2, 532958)),
 (15,
  'EBAY',
  '$45.24',
  '$45.77',
  '$44.61',
  '$44.77',
  datetime.datetime(2023, 5, 4, 20, 29, 20, 210038)),
 (16,
  'FAST',
  '$54.67',
  '$55.24',
  '$54.00',
  '$54.08',
  datetime.datetime(2023, 5, 4, 20, 29, 34, 460717)),
 (17,
  'GOOGL',
  '$105.53',
  '$107.49',
  '$104.96',
  '$105.41',
  datetime.datetime(2023, 5, 4, 20, 31, 37, 172001)),
 (18,
  'adp',
  '$218.05',
  '$219.50',
  '$215.96',
  '$215.98',
  datetime.datetime(2023, 5, 4, 20, 32, 46, 295174)),
 (19,
  'amgn',
  '$235.97',
  '$236.30',
  '$228.98',
  '$229.31',
  datetime.datetime(2023, 5, 4, 20, 33, 6, 868099)),
 (20,
  'GILD',
  '$80.49',
  '$80.90',
  '$79.12',
  '$79.45',
  datetime.datetime(2023, 5, 4, 20, 40, 51, 353741)),
 (21,
  'GILD',
  '$80.49',
  '$80.90',
  '$79.12',
  '$79.45',
  datetime.datetime(2023, 5, 4, 20, 40, 52, 223441)),
 (22,
  'GILD',
  '$80.49',
  '$80.90',
  '$79.12',
  '$79.45',
  datetime.datetime(2023, 5, 4, 20, 44, 12, 503787)),
 (23,
  'HON',
  '$199.72',
  '$200.58',
  '$197.71',
  '$197.93',
  datetime.datetime(2023, 5, 4, 20, 44, 35, 81816)),
 (24,
  'NFLX',
  '$317.55',
  '$324.62',
  '$315.85',
  '$319.30',
  datetime.datetime(2023, 5, 4, 20, 44, 48, 494213)),
 (25,
  'NVDA',
  '$278.40',
  '$283.67',
  '$274.72',
  '$278.02',
  datetime.datetime(2023, 5, 4, 20, 45, 0, 221809)),
 (26,
  'NVDA',
  '$278.40',
  '$283.67',
  '$274.72',
  '$278.02',
  datetime.datetime(2023, 5, 4, 20, 49, 44, 536664)),
 (27,
  'NVDA',
  '$278.40',
  '$283.67',
  '$274.72',
  '$278.02',
  datetime.datetime(2023, 5, 4, 20, 49, 55, 66709)),
 (28,
  'okta',
  '$70.20',
  '$70.85',
  '$68.13',
  '$70.15',
  datetime.datetime(2023, 5, 4, 20, 50, 7, 934056)),
 (29,
  'mvrl',
  '$16.87',
  '$17.31',
  '$16.70',
  '$16.71',
  datetime.datetime(2023, 5, 4, 20, 50, 18, 69141)),
 (30,
  'panw',
  '$177.01',
  '$180.54',
  '$176.35',
  '$177.66',
  datetime.datetime(2023, 5, 4, 20, 50, 27, 547988)),
 (31,
  'pypl',
  '$72.41',
  '$72.99',
  '$71.35',
  '$71.43',
  datetime.datetime(2023, 5, 4, 20, 50, 37, 680101)),
 (32,
  'sbux',
  '$109.08',
  '$109.72',
  '$103.80',
  '$103.96',
  datetime.datetime(2023, 5, 4, 20, 50, 49, 162651)),
 (33,
  'swks',
  '$105.66',
  '$107.81',
  '$105.06',
  '$105.19',
  datetime.datetime(2023, 5, 4, 20, 51, 1, 717283)),
 (34,
  'meta',
  '$105.66',
  '$107.81',
  '$105.06',
  '$105.19',
  datetime.datetime(2023, 5, 4, 20, 51, 38, 725197)),
 (35,
  'meta',
  '$306.24',
  '$307.76',
  '$303.40',
  '$305.41',
  datetime.datetime(2023, 5, 4, 21, 7, 8, 984536)),
 (36,
  'meta',
  '$306.24',
  '$307.76',
  '$303.40',
  '$305.41',
  datetime.datetime(2023, 5, 4, 21, 8, 7, 161587)),
 (37,
  'meta',
  '$306.24',
  '$307.76',
  '$303.40',
  '$305.41',
  datetime.datetime(2023, 5, 4, 21, 8, 44, 7926)),
 (38,
  'meta',
  '$276.51',
  '$278.58',
  '$272.40',
  '$275.62',
  datetime.datetime(2023, 5, 4, 21, 9, 21, 723976)),
 (39,
  'meta',
  '$77.42',
  '$77.50',
  '$76.75',
  '$77.29',
  datetime.datetime(2023, 5, 4, 21, 9, 36, 741441)),
 (40,
  'meta',
  '$383.12',
  '$384.68',
  '$381.02',
  '$382.06',
  datetime.datetime(2023, 5, 4, 21, 9, 46, 688646)),
 (41,
  'meta',
  '$133.93',
  '$138.22',
  '$129.75',
  '$134.33',
  datetime.datetime(2023, 5, 4, 21, 9, 58, 304122)),
 (42,
  'meta',
  '$58.58',
  '$58.73',
  '$57.61',
  '$57.82',
  datetime.datetime(2023, 5, 4, 21, 10, 16, 787559)),
 (43,
  'meta',
  '$58.58',
  '$58.73',
  '$57.61',
  '$57.82',
  datetime.datetime(2023, 5, 4, 21, 10, 56, 334016)),
 (44,
  'meta',
  '$104.03',
  '$107.12',
  '$103.54',
  '$106.58',
  datetime.datetime(2023, 5, 4, 21, 11, 16, 44)),
 (45,
  'meta',
  '$104.03',
  '$107.12',
  '$103.54',
  '$106.58',
  datetime.datetime(2023, 5, 4, 21, 11, 21, 638070)),
 (46,
  'meta',
  '$193.08',
  '$193.95',
  '$192.15',
  '$193.38',
  datetime.datetime(2023, 5, 4, 21, 11, 35, 473791)),
 (47,
  'meta',
  '$63.74',
  '$63.93',
  '$63.51',
  '$63.72',
  datetime.datetime(2023, 5, 4, 21, 11, 46, 577931)),
 (48,
  'meta',
  '$63.74',
  '$63.93',
  '$63.51',
  '$63.72',
  datetime.datetime(2023, 5, 4, 21, 11, 51, 952197)),
 (49,
  'meta',
  '$63.74',
  '$63.93',
  '$63.51',
  '$63.72',
  datetime.datetime(2023, 5, 4, 21, 11, 54, 958711)),
 (50,
  'meta',
  '$63.74',
  '$63.93',
  '$63.51',
  '$63.72',
  datetime.datetime(2023, 5, 4, 21, 11, 58, 954571)),
 (51,
  'meta',
  '$382.10',
  '$384.02',
  '$373.33',
  '$373.59',
  datetime.datetime(2023, 5, 4, 21, 12, 8, 314704)),
 (52,
  'meta',
  '$382.10',
  '$384.02',
  '$373.33',
  '$373.59',
  datetime.datetime(2023, 5, 4, 21, 12, 11, 655839)),
 (53,
  'meta',
  '$382.10',
  '$384.02',
  '$373.33',
  '$373.59',
  datetime.datetime(2023, 5, 4, 21, 12, 14, 685293)),
 (54,
  'meta',
  '$453.66',
  '$454.04',
  '$446.21',
  '$451.93',
  datetime.datetime(2023, 5, 4, 21, 13, 15, 560123)),
 (55,
  'meta',
  '$443.28',
  '$445.27',
  '$435.20',
  '$442.23',
  datetime.datetime(2023, 5, 4, 21, 13, 29, 453259)),
 (56,
  'meta',
  '$443.28',
  '$445.27',
  '$435.20',
  '$442.23',
  datetime.datetime(2023, 5, 4, 21, 13, 33, 196417)),
 (57,
  'meta',
  '$443.28',
  '$445.27',
  '$435.20',
  '$442.23',
  datetime.datetime(2023, 5, 4, 21, 13, 37, 245271)),
 (58,
  'meta',
  '$137.48',
  '$140.95',
  '$136.59',
  '$140.48',
  datetime.datetime(2023, 5, 4, 21, 13, 52, 711287)),
 (59,
  'meta',
  '$54.87',
  '$59.82',
  '$53.88',
  '$57.30',
  datetime.datetime(2023, 5, 4, 21, 15, 5, 97676)),
 (60,
  'meta',
  '$488.94',
  '$490.91',
  '$485.93',
  '$490.34',
  datetime.datetime(2023, 5, 4, 21, 15, 26, 403903)),
 (61,
  'meta',
  '$459.35',
  '$463.42',
  '$456.58',
  '$457.93',
  datetime.datetime(2023, 5, 4, 21, 15, 43, 423218)),
 (62,
  'meta',
  '$116.50',
  '$117.87',
  '$116.03',
  '$117.42',
  datetime.datetime(2023, 5, 4, 21, 16, 9, 991595)),
 (63,
  'meta',
  '$196.50',
  '$197.13',
  '$193.47',
  '$196.30',
  datetime.datetime(2023, 5, 4, 21, 16, 31, 363820)),
 (64,
  'meta',
  '$30.43',
  '$31.72',
  '$30.38',
  '$31.24',
  datetime.datetime(2023, 5, 4, 21, 16, 47, 808366)),
 (65,
  'meta',
  '$45.77',
  '$45.93',
  '$45.56',
  '$45.70',
  datetime.datetime(2023, 5, 4, 21, 17, 0, 941499)),
 (66,
  'meta',
  '$111.45',
  '$111.49',
  '$110.56',
  '$110.86',
  datetime.datetime(2023, 5, 4, 21, 17, 13, 235038)),
 (67,
  'meta',
  '$149.00',
  '$149.00',
  '$146.35',
  '$147.36',
  datetime.datetime(2023, 5, 4, 21, 17, 22, 304495)),
 (68,
  'meta',
  '$149.00',
  '$149.00',
  '$146.35',
  '$147.36',
  datetime.datetime(2023, 5, 4, 21, 17, 28, 927449)),
 (69,
  'meta',
  '$149.00',
  '$149.00',
  '$146.35',
  '$147.36',
  datetime.datetime(2023, 5, 4, 21, 17, 32, 760247)),
 (70,
  'meta',
  '$149.00',
  '$149.00',
  '$146.35',
  '$147.36',
  datetime.datetime(2023, 5, 4, 21, 23, 12, 922008)),
 (71,
  'ABBV',
  '$149.00',
  '$149.00',
  '$146.35',
  '$147.36',
  datetime.datetime(2023, 5, 4, 21, 23, 37, 99773)),
 (72,
  'ABBV',
  '$149.00',
  '$149.00',
  '$146.35',
  '$147.36',
  datetime.datetime(2023, 5, 4, 21, 24, 53, 164489)),
 (73,
  'lmt',
  '$453.66',
  '$454.04',
  '$446.21',
  '$451.93',
  datetime.datetime(2023, 5, 4, 21, 25, 4, 957155)),
 (74,
  'NOC',
  '$443.28',
  '$445.28',
  '$435.20',
  '$442.23',
  datetime.datetime(2023, 5, 4, 21, 25, 27, 363175)),
 (75,
  'AMAT',
  '$113.05',
  '$113.41',
  '$111.72',
  '$112.45',
  datetime.datetime(2023, 5, 4, 21, 25, 38, 987355)),
 (76,
  'AMD',
  '$81.57',
  '$91.64',
  '$81.11',
  '$86.61',
  datetime.datetime(2023, 5, 4, 21, 25, 57, 47805))]

In [10]:
# CREATE TABLE account (
# 0    account_id 			SERIAL PRIMARY KEY,
# 1 	user_account_id		INT   NOT NULL,
# 2     balance				MONEY   NOT NULL,
# 3     trans_date 			TIMESTAMP   NOT NULL
# );

acnt_data

[(1, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 17, 35, 569237)),
 (2, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 22, 24, 684907)),
 (3, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 23, 38, 981513)),
 (4, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 24, 35, 731861)),
 (5, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 27, 30, 892730)),
 (6, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 27, 53, 4521)),
 (7, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 28, 6, 625311)),
 (8, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 28, 21, 432020)),
 (9, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 28, 33, 251184)),
 (10, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 28, 46, 854590)),
 (11, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 29, 2, 574846)),
 (12, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 29, 20, 215023)),
 (13, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 29, 34, 492633)),
 (14, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 31, 37, 228849)),
 (15, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 32, 46, 301158)),
 (16, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 33, 6, 901011)),
 (17, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 40, 51, 383661)),
 (18, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 44, 12, 551658)),
 (19, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 44, 35, 131682)),
 (20, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 44, 48, 528122)),
 (21, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 45, 0, 248737)),
 (22, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 49, 44, 572568)),
 (23, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 49, 55, 93637)),
 (24, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 50, 7, 939548)),
 (25, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 50, 18, 105045)),
 (26, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 50, 27, 567934)),
 (27, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 50, 37, 688079)),
 (28, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 50, 49, 213515)),
 (29, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 51, 1, 768147)),
 (30, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 20, 51, 38, 758631)),
 (31, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 8, 7, 161587)),
 (32, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 8, 44, 7926)),
 (33, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 9, 21, 723976)),
 (34, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 9, 36, 741441)),
 (35, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 9, 46, 688646)),
 (36, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 9, 58, 304122)),
 (37, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 10, 16, 787559)),
 (38, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 10, 56, 334016)),
 (39, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 11, 16, 44)),
 (40, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 11, 21, 638070)),
 (41, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 11, 35, 473791)),
 (42, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 11, 46, 577931)),
 (43, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 11, 51, 952197)),
 (44, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 11, 54, 958711)),
 (45, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 11, 58, 954571)),
 (46, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 12, 8, 314704)),
 (47, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 12, 11, 655839)),
 (48, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 12, 14, 685293)),
 (49, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 13, 15, 560123)),
 (50, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 13, 29, 453259)),
 (51, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 13, 33, 196417)),
 (52, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 13, 37, 245271)),
 (53, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 13, 52, 711287)),
 (54, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 15, 5, 97676)),
 (55, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 15, 26, 403903)),
 (56, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 15, 43, 423218)),
 (57, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 16, 9, 991595)),
 (58, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 16, 31, 363820)),
 (59, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 16, 47, 808366)),
 (60, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 17, 0, 941499)),
 (61, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 17, 13, 235038)),
 (62, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 17, 22, 304495)),
 (63, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 17, 28, 927449)),
 (64, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 17, 32, 760247)),
 (65, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 23, 12, 922008)),
 (66, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 23, 37, 99773)),
 (67, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 24, 53, 164489)),
 (68, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 25, 4, 957155)),
 (69, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 25, 27, 363175)),
 (70, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 25, 38, 987355)),
 (71, 9, '$93,781.34', datetime.datetime(2023, 5, 4, 21, 25, 57, 47805))]

In [11]:

# CREATE TABLE alpaca_journal (
# 0    alpaca_journal_id 			SERIAL PRIMARY KEY,
# 1	alpaca_transaction_id 		VARCHAR(255)   NOT NULL,
# 2    user_id 					INT   NOT NULL,
# 3 	user_to_account 			INT   NOT NULL,
# 4    entry_type 					INT   NOT NULL,
# 5    status 						VARCHAR(50)   NOT NULL,
# 6    user_from_account 			VARCHAR(100)   NOT NULL,
# 7    settle_date 				TIMESTAMP   NOT NULL,
# 8    system_date 				TIMESTAMP   NOT NULL,
# 9    net_amount 					MONEY   NOT NULL,
# 10    description 				VARCHAR(255)   NOT NULL,
# 11    currency 					VARCHAR(10)   NOT NULL
# );

In [213]:
# transaction_df = pd.DataFrame( data = mtrx,
#                               columns=['Trans Date', 'trader', 'action', 'Quantity', 'Stocks', 'Close Price'] )

stocks_qty = transaction_df.groupby('Stocks').sum(numeric_only=True)

# add an empty columns
stocks_qty = stocks_qty.reindex(columns = stocks_qty.columns.tolist()
                                  + ['Sector','Industry'])

In [222]:
assoc_sector = stocks_qty.copy()

In [223]:
# Prepare the data to plot a horizontal bar chart with the stocks and quantity

chart_data = transaction_df.groupby(['trader', 'Stocks'])['Quantity'].mean().sort_values()
chart_data.head()

trader        Stocks
Julie Morris  AMD        5.0
              AVGO       5.0
              GILD       8.0
              HON       10.0
              CAT       10.0
Name: Quantity, dtype: float64

In [218]:
# Plot the data into a horizontal bar chart with the stocks and quantity 

chart_data.hvplot.barh('Stocks', 'Quantity', by='trader', stacked=True, legend='bottom_right', height=600)

:Bars   [Stocks,trader]   (Quantity)

In [219]:
from pathlib import Path
# C:\Users\Isidrojl\Documents\UM FinTech\GitHub\repo\UM_FinTech_BC_Project_1_G2\SQL_V1
csvpath = Path("SQL_V1\SP500_ordered_by_sectors.csv")
sp500_by_sector = pd.read_csv(csvpath)

In [220]:

# xlc_communications
# xly_discrecionary
# xlp_stapples
# xle_energy
# xlf_financials
# xlv_health_care
# xli_industrial
# xlb_basic_matrls
# xlre_real_estate
# xlk_tech
# xlu_utilities


sp500_by_sector.dropna(inplace=True)
sp500_by_sector.reset_index(inplace=True)

# sym_sector = sp500_by_sector.loc[:, ('Symbol','Sector')]

In [224]:
# sp500_by_sector
for x in range(0, len(assoc_sector)):
    for idx in range(0, len(sp500_by_sector)):
        if sp500_by_sector.loc[idx]['Symbol'] == assoc_sector.index[x]:
            symbol = sp500_by_sector.loc[idx]['Symbol']
            assoc_sector.loc[symbol]['Sector'] = sp500_by_sector.loc[idx]['Sector']
            assoc_sector.loc[symbol]['Industry'] = sp500_by_sector.loc[idx]['Industry']

C:\Users\Isidrojl\AppData\Local\Temp\ipykernel_137868\3296992603.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assoc_sector.loc[symbol]['Sector'] = sp500_by_sector.loc[idx]['Sector']
C:\Users\Isidrojl\AppData\Local\Temp\ipykernel_137868\3296992603.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  assoc_sector.loc[symbol]['Industry'] = sp500_by_sector.loc[idx]['Industry']

In [225]:
# print( len(stocks_qty), len(sym_sector))
# stocks_qty.index[1]['Sector']
# symbol = sp500_by_sector.loc[138]['Symbol']
# symbol
# stocks_qty.loc['CMCSA']['Sector']
# print(symbol, stocks_qty.loc['CMCSA']['Sector'])
assoc_sector

        Quantity  Sub-Total  Sector  Industry
Stocks
ABBV          86   12672.96     NaN       NaN
AMAT          54    6072.30     NaN       NaN
AMD           20    1632.40     NaN       NaN
AVGO           5    3066.00     NaN       NaN
BA            20    4018.60     NaN       NaN
CAT           10    2156.40     NaN       NaN
CMCSA         15     613.35     NaN       NaN
CRWD          15    1765.20     NaN       NaN
CSX           15     463.95     NaN       NaN
DOCU          40    1896.00     NaN       NaN
EBAY          35    1566.95     NaN       NaN
FAST          25    1352.00     NaN       NaN
GILD          16    1271.20     NaN       NaN
GOOGL         10    1054.10     NaN       NaN
HON           10    1979.30     NaN       NaN
NFLX          25    7982.50     NaN       NaN
NOC           34   15035.82     NaN       NaN
NVDA         108   30026.16     NaN       NaN
XOM           15    1618.95     NaN       NaN
adp           20    4319.60     NaN       NaN
amgn          15    3439.65     NaN       NaN
lmt           21    9490.53     NaN       NaN
meta        1592  344747.42     NaN       NaN
mvrl          42     701.82     NaN       NaN
okta          33    2314.95     NaN       NaN
panw          50    8883.00     NaN       NaN
pypl          29    2071.47     NaN       NaN
sbux          38    3950.48     NaN       NaN
swks          25    2629.75     NaN       NaN

In [155]:
stocks_qty.index[x]

'ABBV'

In [158]:
sp500_by_sector.loc[1,'Symbol']

'CHTR'

In [148]:
sp500_by_sector.loc[:,('Symbol',  'Sector', 'Industry')]

    Symbol                  Sector            Industry
0     ATVI  Communication Services       Entertainment
1     CHTR  Communication Services               Media
2    CMCSA  Communication Services               Media
3      DIS  Communication Services       Entertainment
4     DISH  Communication Services               Media
..     ...                     ...                 ...
395    PPL               Utilities  Electric Utilities
396     SO               Utilities  Electric Utilities
397    SRE               Utilities     Multi-Utilities
398    WEC               Utilities     Multi-Utilities
399    XEL               Utilities  Electric Utilities

[399 rows x 3 columns]